<footer>
    <img src="/img/CSUMB-Logo-Transparent.png" alt="CSUMB Logo">
    <p id="footerText">
        CST336: Internet Programming, Final Project, 2022; BayTech.
        <span id="disclaimer"> Disclaimer: </span> The information in this webpage is for academic purposes only.
        <br>
        Images Courtesy of Google Images and <a href="https://www.pngplay.com"> PNG Play</a>.
        <br>
    </p>
    <img src="/img/BayTechLogo.png" alt="BayTech Group Logo">
</footer>
