<nav>
    <img src="/img/mallmartLogo.png">
    <div id="navLinks">
        <!-- TODO: Figure out dynamic ID assigning -->
        <a href="/"> Home </a>
        <a href="/products"> Products </a>
        <a href="/account">Account</a>
        <div id="cartArea">
            <a href="/cart"><img id="cartLogo" src="/img/cartLogo.png" alt="Cart"></a>
            <p class="badge badge-info" id="cartNumber"> </p>
        </div>
    </div>
</nav>