<%- include('partials/header.ejs') %>
    <article>
      <p>Within the world of technology, viruses have been a major issue when it comes to invading user's private information and making them feel unsecured when sending files, contacting people through the internet, and storing important and personal documents. There are several types of viruses, but we will focus on three specific types of viruses: Trojan Horse Viruses, Browser Hijacker Viruses, and Macro Viruses. </p>
      <h4> Explore each virus a little more in depth and learn how you can prevent an attack from occuring on your device.</h4>
    </article>
    <div>
      <figure class="images">
        <img class="item" src="/img/trojan-horse.jpeg" alt="Trojan Horse Virus logo"/>
        <img class="item" src="/img/browser-hijacker.jpeg" alt="Image for browser hijacker virus"/>
        <img class="item" src="/img/macro-virus.jpeg" alt="Image to describe macro virus"/>
      </figure>
    </div>
    
    <div class="buttons">
      <a class="box" href="/trojan-horse">TROJAN HORSE</a>
      <a class="box" href="/browser-hijacker">BROWSER HIJACKER</a>
      <a class="box" href="/macro-viruses">MACRO VIRUSES</a>
    </div>
<%- include('partials/footer.ejs')%>
</body>
  </html>
