<%- include('partials/header.ejs') %>
  <h2> MACRO VIRUSES: </h2>
    <main>
      <figure>
        <img src="<%= virusUrl %>" alt="Random image of hacking">
      </figure>
      <section>
        <a class="info-links" href= "https://www.malwarebytes.com/macro-virus"> <strong>What are Macro Viruses?</strong></a>
        <ul>
          <li>Macro viruses occur in <strong>sowtware applications</strong>, like in Microsoft Office.</li>
          <li>They attack by forcefully inserting their code into macros through data files, but the attack is initiated by a human interaction, unknowingly of course.</li>
          <li>Ultimately, once a macro virus is successfully entered into a user's device, they have the power to: </li>
          <li class="indent"> <strong>Damage files</strong> by deleting, displacing, and moving them.</li>
          <li class="indent"> <strong>Sending files</strong> with private and personal information/data.</li>
          <li class="indent">Formatting storage drives and intentionally messing with them. </li>
        </ul>
        <a class="info-links" href= "https://www.malwarebytes.com/macro-virus"> <strong>Ways to Prevent a Macro Virus Attack: </strong></a>
        <ul>
          <li>In order to prevent and remove macro viruses off of your device, you can: </li>
          <li class="indent"> <strong>Install a virus/malware scanner</strong> on your device so it can detect anything suspicious.</li>
          <li class="indent"> If a virus is found, <strong>clean it</strong> from your computer as soon as possible to avoid the leaking of all of your information. </li>
          <li class="indent">By checking and scanning your device frequently, you have a higher chance of securing your personal and private files from macro virus attacks.</li>
        </ul>
      </section>
    </main>
<%- include('partials/footer.ejs')%>
</body>
</html>