<%- include('partials/header.ejs') %>
<h2> SOURCES USED IN THIS WEBSITE: </h2>
 <h3><a href="https://www.malwarebytes.com/macro-virus">Macro-Virus Info</a></h3>
<br>
  <h3><a href = "https://www.kaspersky.com/resource-center/threats/browser-hijacking">Browser-Hijacker Virus Info</a></h3>
<br>
  <h3><a href = "https://www.fortinet.com/resources/cyberglossary/trojan-horse-virus">Trojan Horse Virus Info</a></h3>
  <%- include('partials/footer.ejs')%>
</body>
</html>