<%- include('partials/header.ejs') %>
<h2> TROJAN HORSE VIRUS: </h2>
    <main>
      <figure>
       <img src="<%= virusUrl %>" alt="Random image of hacking">
      </figure>
      <section>
        <a class="info-links" href= "https://www.fortinet.com/resources/cyberglossary/trojan-horse-virus"> <strong>What are Trojan Horse Viruses?</strong></a>
        <ul>
          <li> A <strong>malware</strong> that intentionally disguises itself as an actual program through a user's software.</li>
          <li> The name <strong>Trojan Horse</strong> comes from a peom called Odyssey, by Homer. The horse disguises himself as a gift in order to be let through the gates of the city in this poem.  </li>
          <li class="indent">In terms of the virus, it can be thought of as how the virus disguises itself in either a link or in a file and once it is clicked by a user, unknowingly of what is about to happen, the attacker's invasive code is downloaded and it runs through that code on the user's device. </li>
        </ul>
        <a class="info-links" href= "https://www.fortinet.com/resources/cyberglossary/trojan-horse-virus"> <strong>Ways to Prevent a Trojan Horse Virus Attack: </strong></a>
        <ul>
          <li>There are some precautions that can be taken in order to avoid an attack like this: </li>
          <li class="indent">There are some <strong>Trojan scanner programs</strong> that can scan your device and catch any Trojan Horse Virus Attacks.</li>
          <li class="indent"> Since Trojan viruses are a type of malware, you can use softwares that are specifically designed to remove malware attacks on your device. </li>
        </ul>
      </section>
    </main>
  <%- include('partials/footer.ejs')%>
</body>
</html>