 <hr> 
 <footer>
   <div class="footer-container">
        <div class="footer-text">
             &copy; 2022 Yasin <br>
    California State University
    Monterey Bay 
          <br />
        </div>
        <figure>
          <img src="/img/csumb_logo.png" alt="CSUMB logo."/>
        </figure>
      </div>
</footer>
