<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>CRUD Operations</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div id = "nav-bar">
<nav>
  <a href="/">HOME</a><br>
  <a href="/authors">Display Authors</a><br>
  <a href="/author/new">Add Author</a><br>
  <a href="/quotes">Display Quotes</a><br>
  <a href="/quote/new">Add Quote</a><br>
</nav>
  </div>