<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link href="/display.css" rel="stylesheet">
</head>
<body>
	<section>
		<form action="/doctor/register" th:object="${doctor}" method="POST">
			<h1>Register as doctor</h1>
			<p>
				<span th:text="${message}"></span>
			</p>
			<section>
				<p>
					<label for="ssn"> <span>Your SSN: </span>
					</label> <input type="password" id="ssn" th:field="*{ssn}" />
				</p>
				<p>
					<label for="name"> <span>Your Name: </span>
					</label> <input type="text" id="name" th:field="*{name}" />
				</p>
				<p>
					<label for="specialty"> <span>Specialty: </span>
					</label> <input type="text" id="specialty" th:field="*{specialty}" />
				</p>
				<p>
					<label for="year"> <span>First Year in Practice: </span>
					</label> <input type="text" id="yes" th:field="*{practice_since_year}" />
				</p>
			</section>
			<p>
				<button type="submit">Register</button>
			</p>
		</form>
	</section>
</body>
</html>
