body{
  background-color:black;
  color: gray;
}
footer{
  color:white;
  font-size: 0.9em;
  text-align: center;
}
header, main, nav {
  
  text-align: center;
}
main{
  font-size: 1.3em;
}
nav a {
  padding: 15px;
  padding-bottom:4px;
  font-size: 1.8em;
  text-decoration: none;
  color: white;
}
main, .container, #content{
  display:flex;
  align-items: center;
  justify-content: center;
}
nav a:hover{
  border-bottom:2px orange solid;
  font-size: 2em;
  transition: .9s;
}
 a.active{
  color: orange;
  font-size: 2em; 
}
table{
  margin: 0px auto;
}
td{
  padding-right: 10px;
  font-size: 1.3em;
}
td strong{
  color: orange;
}
#table-header{
  background-color: #351a00
}
.table-row{
  background-color: #753900;
}
ul{
  width:500px;
  margin: 0 auto;
  text-align: left;
}
.hobby{
  color:yellow;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  margin-bottom:0px;
}