<%- include('partials/header.ejs') %>
    <h1>Planet Earth</h1>
     <nav>
       <a href="/"> Home </a>
       <a href="/earth"> Earth </a>
       <a href="/mars"> Mars</a>
       <a href="/jupiter"> Jupiter</a>
       <a href="/saturn"> Saturn</a>
    </nav>
    
    <img src="<%= earthUrl %>" alt="Image of Planet Earth">
    <p> In the solar system, earth is the third planet away from the sun, coming after Mercury and Venus. Its distance from the sun is  92.96 million miles. Earth has a population of 7.753 billion. It is the only planet known to contain human existence. The Earth completes a rotation about every 24 hours, so at an estimated speed of  1,000 miles per hour. </p>
  <%- include('partials/footer.ejs')%>
</body>
</html>
