<%- include('partials/header.ejs') %>

    <h1>The Solar System</h1>
  <hr>
  <nav>
     <a href="/">Home</a>
     <a href="/earth"> Earth </a>
     <a href="/mars"> Mars </a>
     <a href="/jupiter"> Jupiter </a>
     <a href ="/saturn"> Saturn </a>
  </nav>
  <hr>
      
  <img src="/img/solar_system.jpeg" alt="Image of Solar System">
  <%- include('partials/footer.ejs')%>
</body>
</html>
