<%- include('partials/header.ejs') %>

    <h1>Planet Jupiter</h1>
  
     <nav>
       <a href="/"> Home </a>
       <a href="/earth"> Earth</a>
       <a href="/mars"> Mars</a>
       <a href="/jupiter"> Jupiter</a>
       <a href="/saturn"> Saturn</a>
    </nav>
    <img src="/img/jupiter.jpeg" alt="Image of Planet Jupiter">
    <p>The fifth planet distanced away from the Sun is Jupiter. Like Saturn, Jupiter is another gas giant. It is the largest planet that the Solar System contains. In Jupiter, there exist 79 moons. Jupiter is also known to be the fastest spinning planet in the entire solar system. Also like Saturn, Jupiter has rings surrounding itself as well.</p>
<%- include('partials/footer.ejs')%>
</body>
</html>
