<%- include('partials/header.ejs') %>

    <h1>Planet Mars</h1>
  
     <nav>
       <a href="/"> Home </a>
       <a href="/earth"> Earth</a>
       <a href="/mars"> Mars</a>
       <a href="/jupiter"> Jupiter</a>
       <a href="/saturn"> Saturn</a>
    </nav>
    <img src="/img/mars.jpeg" alt="Image of Planet Mars">

    <p> Mars, also called “The Red Planet”, appears in the solar system as the fourth planet away from the sun, coming after Planet Earth. The distance between the sun and Mars is 141.6 million miles. Mars is made up of a thinner atmosphere than that of Planet Earth. Considering the fact that Mars contains less than 1% of Oxygen, it is believed that it is impossible to breathe air on Mars.</p>
   <%- include('partials/footer.ejs')%>
</body>
</html>
