<%- include('partials/header.ejs') %>

    <h1>Planet Saturn</h1>
  
     <nav>
       <a href="/"> Home </a>
       <a href="/earth"> Earth</a>
       <a href="/mars"> Mars</a>
       <a href="/jupiter"> Jupiter</a>
       <a href="/saturn"> Saturn</a>
    </nav>
    <img src="/img/saturn.jpeg" alt="Image of Planet Saturn">
  <p>The sixth furthest planet away from the Sun is Saturn. Saturn is part of the gas giants, and is the second-largest planet in the entire solar system. Its size comes from its very large volume, rather than its density. In terms of density, it weighs ⅛ of the average weight of Earth. Saturn has rings surrounding itself, but they are very thin.
</p>
  <%- include('partials/footer.ejs')%>
</body>
</html>
