<footer>
      <hr>
      <div class="footer-container">
        <div class="footer-text">
          CST 336 Internet Programming. Lab4. 2022&copy; Yasin 
          <br />
        </div>
        <figure>
          <img src="/img/csumb_logo.png" alt="CSUMB logo."/>
        </figure>
      </div>
    </footer>