<%- include('partials/header.ejs') %>
 <h1> Admin Section </h1> 
  <div id = "button-container">
     <form action="/authors">
     <button class="list">Display Authors</button>
   </form><br>
  
   <form action="/author/new">
     <button class="add">Add Authors</button>
   </form><br>
  
    <form action="/quotes">
    <button class="list">Display Quotes</button>
   </form><br>
  
   <form action="/quote/new">
     <button class="add">Add Quotes</button>
   </form><br>
  </div>
 </body>
</html>
