<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Express</title>
  <link rel = "stylesheet" href="/css/styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
</head>
<body>
<h1>Types of Computer Viruses</h1>
    <hr/>
    <br /><br />
  <nav>
    <a href="/">HOME</a>
  <a href="/trojan-horse">TROJAN HORSE</a>
  <a href="/browser-hijacker">BROWSER HIJACKER</a>
  <a href="/macro-viruses">MACRO VIRUSES</a>
  <a href="/sources">SOURCES</a>
  <a href="/help">HELP</a>
</nav>

<br /><br />
<hr />